#carouselExampleIndicators{
    position: relative;
}
.bikebuy-heading{
    color: rgb(245, 225, 7);
    position: absolute;
    z-index: 1;
    top: 45%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size: 5em;
    font-weight: 300;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-family:cursive;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.493);
}
.bikebuy-subheading{
    color: rgb(245, 225, 7);
    position: absolute;
    z-index: 1;
    top: 60%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size: 1.8em;
    font-family:cursive;
    font-weight: 100;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.493);
}

